.DS_Store
._*
permissions.sh
config.yml
system/backuparr.log
plex/plex-qbt-pauser.log
plex/plex-qbt-pauser.pid
pyenv/*
tools/response_log.txt
plex/plex-buffer.log*
pyenv/
__pycache__/
tools/.find-domain.cache
plex/plexmeta.log
